---
layout: default
title: Home
redirect_from:
  - /development-wiki/
---

{% include nav.html active='Home' %}

<section class="masthead">
  <h1 class="lead">Full Stack Software Developer</h1>
  <p>
    <a href="https://github.com/solidaycl" class="btn">Github</a>
    <a href="https://www.linkedin.com/in/solidaycl" class="btn">LinkedIn</a>
  </p>
</section>

<section class="front-section">
  <div class="container golden-grid">
    <div class="col-wide">
      <h2>Chris</h2>

      <h3>What's this?</h3>
      <ul>
        <li>
		  This website is a humble corner of the internet for a software engineer to keep track of his thoughts and share ideas.
        </li>
      </ul>

      <h3>Dogs</h3>
      <ul>
		  <li><a href="/samdog/">Sam</a></li>
        <li><a href="/archiedog/">Archie</a></li>
        <li><a href="/charliedog/">Charlie</a></li>
      </ul>

      <h3>Photography</h3>
      <ul>
        <li><a href="https://adobe.ly/48YV1Hf">My Photography</a> A mixture of film and digital photography</li>
      </ul>

      <h3>Beer Recipes</h3>
      <ul>
		  <li><a>Coming soon...</a></li>
      </ul>

      <h3>Upcoming Fitness Events</h3>
      <ul>
        <li><a href="https://derbyfestivalmarathon.com/">Derby Marathon</a> - April 26th, 2025</li>
        <li><a href="https://triutah.com/brineman">Brineman</a> (Ironman 70.3) - Sept 5th, 2025</li>
      </ul>

    </div>
      <div class="news-section">
        <h2 id="news">Posts</h2>
        {% comment %} <dl class="nvim-posts"> {% endcomment %}
        <table>
        {% assign posts_to_show = 10 %}
        {% for post in site.posts limit:posts_to_show %}
          <tr>
            <td><a href="{{ post.url }}">{{ post.title }}</a>&nbsp;&nbsp; </td>
            <td style="white-space: nowrap; text-align: right">{{ post.date | date:"%Y.%m" }}</td>
          </tr>
          {% comment %} <dd></dd> {% endcomment %}
        {% endfor %}
        </table>
        {% comment %} </dl> {% endcomment %}
      </div>

    </div>
  </div>
</section>

<section class="front-section shaded">
  <div class="container golden-grid">
    <div>
      <h2>Intro</h2>
      <div>
		<img class="center-image" src="assets/image/fishing.jpg"/>
      </div>
    </div>

    <div>
      <h2 id="chat">About Me</h2>
      <ul>
        <li>I'm a software engineer who loves a good challenge—whether it’s fiddling with Rust ownership rules or experimenting with new neovim plugins. I'm passionate all things backend and devops, and am always looking for new excuses to use cli tools over guis. When I'm not behind the screen, you’ll probably find me out on the trails, training for my first Ironman 70.3, brewing up a fresh batch of beer, or tending to my bees. I like mixing things up, both in work and play!</li>
      </ul>
    </div>

  </div>
</section>

<section class="front-section">
  <div class="container golden-grid">

	<div>
	  <h2 id="faqs">My Dogs</h2>
	  <img class="center-image" src="assets/image/3dogs.jpg"/>
	</div>
    <div>
      <h2 id="faqs">FAQ</h2>
      <dl class="faqs">
        <dt>Why 3 dogs?</dt>
        <dd>
		  With three dogs, you have your own built-in security system, They will keep you warm by lying on top of you, and there is always one dog willing to go on an adventure.
        </dd>

        <dt>Do they Hunt?</dt>
        <dd>
			They think they do, but seasoned hunters might not describe it that way.
        </dd>
      </dl>
    </div>
  </div>
</section>

<section class="front-section shaded">
  <div class="container">
    <h2 id="sponsor">The work continues...</h2>
    <div class="container col3">
      <div>
        <div>coming soon...</div>
        <ul>
        </ul>
      </div>

    </div>
  </div>
</section>

