---
layout: default
title: Home
redirect_from:
  - /development-wiki/
---

{% include nav.html active='Home' %}

<section class="masthead">
  <h1 class="lead">Full Stack Software Developer</h1>
  <p>
    <a href="https://github.com/solidaycl" class="btn">Github</a>
    <a href="https://www.linkedin.com/in/solidaycl" class="btn">LinkedIn</a>
  </p>
</section>

<section class="front-section">
  <div class="container golden-grid">
    <div class="col-wide">
      <h2>Chris</h2>

      <h3>About</h3>
      <ul>
        <li>
		  A software engineer with things to talk about.
        </li>
      </ul>

      <h3>Upcoming Fitness Events</h3>
      <ul>
        <li><a href="https://derbyfestivalmarathon.com/">Derby Marathon</a> - April 26th, 2025</li>
        <li><a href="https://triutah.com/brineman">Brineman</a> (Ironman 70.3) - Sept 5th, 2025</li>
      </ul>

      <h3>Dogs</h3>
      <ul>
		  <li><a href="/samdog/">Sam</a></li>
        <li><a href="/archiedog/">Archie</a></li>
        <li><a href="/charliedog/">Charlie</a></li>
      </ul>

      <h3>Photography</h3>
      <ul>
        <li><a href="https://adobe.ly/48YV1Hf">My Photography</a> A mixture of film and digital photography</li>
      </ul>

    </div>
      <div class="news-section">
        <h2 id="news">Posts</h2>
        {% comment %} <dl class="nvim-posts"> {% endcomment %}
        <table>
        {% assign posts_to_show = 2 %}
        {% for post in site.posts limit:posts_to_show %}
          <tr>
            <td><a href="{{ post.url }}">{{ post.title }}</a>&nbsp;&nbsp; </td>
            <td style="white-space: nowrap; text-align: right">{{ post.date | date:"%Y.%m" }}</td>
          </tr>
          {% comment %} <dd></dd> {% endcomment %}
        {% endfor %}
        </table>
        {% comment %} </dl> {% endcomment %}
        <p><a href="/news/archive">More…</a></p>
      </div>
    </div>
  </div>
</section>

<section class="front-section shaded">
  <div class="container golden-grid">
    <div>
      <h2>Intro</h2>
      <div>
		<img class="center-image" src="assets/image/fishing.jpg"/>
      </div>
    </div>

    <div>
      <h2 id="chat">Some more</h2>
      <ul>
        <li>some other information to put here...</li>
      </ul>
    </div>

  </div>
</section>

<section class="front-section">
  <div class="container golden-grid">

	<div>
	  <h2 id="faqs">My Dogs</h2>
	  <img class="center-image" src="assets/image/3dogs.jpg"/>
	</div>
    <div>
      <h2 id="faqs">FAQ</h2>
      <dl class="faqs">
        <dt>Why 3 dogs?</dt>
        <dd>
		  With three dogs, you have your own built-in security system, alarm clock, and vacuum cleaner! They’ll bark if anything so much as thinks about moving outside, wake you up bright and early (whether you like it or not), and ensure there’s not a single crumb left on the floor. It's like having a 24/7, fur-covered home maintenance crew!
        </dd>

        <dt>Do they Hunt?</dt>
        <dd>
			They think they do, but seasoned hunters might not describe it that way.
        </dd>
      </dl>
    </div>
  </div>
</section>

<section class="front-section shaded">
  <div class="container">
    <h2 id="sponsor">The work continues...</h2>
    <div class="container col3">
      <div>
        <div>more more </div>
        <ul>
        </ul>
      </div>

    </div>
  </div>
</section>

